/* 
 author: Oyster-z
 Date: 2019.06.27
 function: base.css which infect all html file in this web
*/

/* 版心 */
.w{
    width: 1190px;
    margin: auto;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

li{
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

h1{
    margin: 0;
    padding: 0;
}

.style_red{
    color: #f10215!important;
}

/* font 字体的使用 使用阿里巴巴的字体网站*/
@font-face {
    font-family: 'iconfont';
    src: url('./../fonts/iconfont.eot');
    src: url('./../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
        url('./../fonts/iconfont.woff2') format('woff2'),
        url('./../fonts/iconfont.woff') format('woff'),
        url('./../fonts/iconfont.ttf') format('truetype'),
        url('./../fonts/iconfont.svg#iconfont') format('svg');
  }

.iconfont{
    font-family:"iconfont" !important;
    font-size:20px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}


/* JD 头部样式 */
.J_event{
    background-color: black;
}

.J_event a{
    display: block;
    height: 80px;
    background: url(./../images/top.jpg) no-repeat;
    position: relative;
}

.J_event a i {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 0;
    color: azure;
    /* 以下两句完成字体居中对齐 */
    text-align: center;
    line-height: 20px;  
}

/* 快捷导航栏 */
.shortcut {
    height: 29px;
    line-height: 29px;
    background-color: #E3E4E5;
    border-bottom: 1px #dddddd solid;
    color: #9D9D9D;
    font-size: 12px;
}

.shortcut a{
    color: #9D9D9D;
    font-size: 12px;
    text-decoration: none;
}

.shortcut a:hover{
    color: #f10215;
}

.pos{
    color: #f10215;
    font-size: 14px;
    font-family: "iconfont";
    font-style: normal;
}

.shortcut .fl li{
    margin-left: 200px;
}

.shortcut .fr li{
    float: left;
}

.spacer {
    width: 1px;
    height: 10px;
    background-color: #9D9D9D;
    margin: 10px 10px 0;
}

.dropdown{
    /* 使用padding-right，i使用定位的时候就相对于li的最外层，如果使用margin-right 那么i定位时就相对于除了margin之外的边缘*/
    padding-right: 15px;        
    position: relative;
}

.dropdown i{
    font-family: "iconfont";
    font-size: 16px;
    font-style: normal;
    position: absolute;
    top: 2px;
    right: -2px;
}

.erweima{
    width: 60px;
    height: 60px;
    border: 1px solid #CCCCCC;
    padding: 5px;
    position: absolute;
    top: 35px;
    left: -8px;
    z-index: 0;     /*为了防止被header盖住提高二维码的显示优先级，目前使用 0 不被覆盖*/
}

/* header 部分 */
.header{
    height: 140px;
    background-color: #aed2db;
}

.header .logo{
    height: 170px;
    width: 190px;
    position: absolute;
    background-color: #f10215;
    top: -30px;
}

.logo a{
    width: 190px;
    height: 170px;
    display: block;
    background: url(./../images/logo.jpg) no-repeat;
    text-indent: -999px;
    overflow: hidden;
}